type: Dataplane
mesh: default
name: {{ service }}
networking: 
  address: {{ addr }}
  inbound:
    - port: {{ inbound_port }}
      servicePort: {{ inbound_svc_port }}
      tags: 
        kuma.io/service: {{ inbound_kuma_service }}
        kuma.io/protocol: http