type: Dataplane
mesh: default
name: kong
networking:
  address: {{ addr }}
  gateway:
    type: DELEGATED
    tags:
      kuma.io/service: kong
  outbound:
{% for out in outbound %}
    - port: {{ out.port }}
      tags: 
        kuma.io/service: {{ out.kuma_service }}
{% endfor %}