[Unit]
Description = Kuma Zone Control Plane
After = network.target

[Service]
User=root
ExecStart = /bin/bash -c 'KUMA_MODE=zone \
  KUMA_MULTIZONE_ZONE_NAME={{ zone_name }} \
  KUMA_MULTIZONE_ZONE_GLOBAL_ADDRESS=grpcs://{{ global_hostname }}:5685 \
 /home/kuma/mesh/kong-mesh-1.8.1/bin/kuma-cp --log-output-path=/tmp/kuma-cp.log run --license-path=/home/kuma/license.json'

[Install]
WantedBy = multi-user.target